<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Контакты</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="{% static 'catalog/css/custom_styles.css'%}" rel="stylesheet">
</head>

<body>
<header class="container">
    <div class="row">
        <nav id="navbar" class="navbar">
            <div class="col-6">
                <a class="navbar-brand text-uppercase fs-3 text-color-green" href="/contacts/"><b>Контакты</b></a>
            </div>
            <div class="col-6  text-end">
                <a class="link-body-emphasis fs-5 me-3" href="/">На главную</a>
            </div>
        </nav>
    </div>
</header>

<main role="main">
    <div class="container my-5">
        <div class="row">
            <div class="col-7 bg-green">
                <div class="row row-cols-2 text-white h-100">
                    <div class="col p-4 align-self-end">
                        <h3><i class="bi bi-telephone"></i> Позвоните нам</h3>
                        <p class="fs-5">0-000-000-00-00<br>
                            0-000-000-00-00</p>
                    </div>
                    <div class="col p-4 align-self-end">
                        <h3><i class="bi bi-telegram"></i> Напишите нам</h3>
                        <p class="fs-5">t.me/qwerty<br>&nbsp;</p>
                    </div>
                    <div class="col p-4">
                        <h3><i class="bi bi-geo-alt"></i> Наш адрес</h3>
                        <p class="fs-5">Город NN, улица Ленина,<br> дом 1</p>
                    </div>
                    <div class="col p-4">
                        <h3><i class="bi bi-calendar3"></i> Режим работы</h3>
                        <p class="fs-5">Пн–Вс: с 10:00 до 19:00<br>
                            Без выходных и перерывов</p>
                    </div>
                </div>
            </div>
            <div class="col-5 px-4">
                <h3>Задать вопрос здесь</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Имя</label>
                        <input name="name" type="text" class="form-control" id="inputName" placeholder="Имя">
                    </div>
                    <div class="mb-3">
                        <label for="inputPhone" class="form-label">Телефон</label>
                        <input name="phone" type="text" class="form-control" id="inputPhone"
                               placeholder="+7 (000) 000-00-00">
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Почта</label>
                        <input name="email" type="email" class="form-control" id="inputEmail"
                               placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="inputMessage" class="form-label">Текст сообщения</label>
                        <textarea name="message" class="form-control" id="inputMessage" rows="3"
                                  placeholder="Ваш вопрос"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success bg-dark-green text-white border-0">Отправить</button>
                </form>
            </div>
        </div>
        <div>
            <img src="{% static 'catalog/img/food_contacts.png' %}" class="img-fluid">
        </div>
    </div>
</main>
</body>
</html>